@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif !important;
}
* {
  font-family: "Montserrat", sans-serif !important;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  font-family: var(--font-montserrat), sans-serif !important;
  background-color: rgba(var(--color-alice) / 1) !important;
  --color-base-white: 255 255 255;
  --color-base-black: 0 0 0;
  /* --color-primary: 255 85 85;
  --color-secondary: 106 130 251; */
  --color-primary: 106 130 251;
  --color-secondary: 255 85 85;
  --color-third: 187 191 229;
  --color-warning: 236 162 50;
  --color-error: 236 51 61;
  --color-success: 3 168 88;
  --color-alice: 250 253 255;
  --color-gray-100: 245 246 248;
  --color-gray-200: 250 250 250;
  --color-gray-300: 204 207 213;
  --color-gray-400: 245 246 248;
  --color-gray-500: 145 158 171;
  --color-gray-600: 119 125 134;
  --color-gray-700: 60 66 77;
  --color-gray-800: 33 43 54;
  --color-gray-900: 23 25 35;
  --color-pink: 106 130 251;
  --color-blue: 252 92 125;
}
/* .ant-checkbox {
  border-color: var(--color-primary) !important;
}
.ant-checkbox-checked {
  background-color: var(--color-primary) !important;
} */
.ant-checkbox .ant-wave-target {
  border-color: var(--color-primary) !important;
  background-color: var(--color-primary) !important;
}
